# ==== PYTHON CACHE ====
__pycache__/
*.pyc
*.pyo
*.pyd

# ==== VENV ====
.venv/
venv/

# ==== GIT ====
.git
.gitignore

# ==== IDE ====
.idea/
.vscode/

# ==== ЛОГИ ====
*.log
logs/

# ==== КОНФИГИ ====
.env
.env.*
docker-compose.yml
